@page "/counter2"

@* The authorize attribute in Blazor WASM pages is executed on client-side only, thus it can be bypassed *@
@attribute [Authorize]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me !!</button>

<button class="btn btn-primary"  @onclick="OnClick"> Check Runtime !! </button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    [Inject]
    protected IJSRuntime ijsRuntime { get; set; } = default!;

    private void OnClick()
    {
        var isWebAssembly = this.ijsRuntime is IJSInProcessRuntime;

        if (isWebAssembly)
        {
            Console.WriteLine("The app is running on WebAssembly");
        }
        else
        {
            Console.WriteLine("The app is running on sever-side");
        }

    }

}
